<div ng-if="loading" class="loading">
  <i class="fa fa-spinner fa-spin"></i>
</div>

<div class="alert {{alertMessage.type}} alert-dismissible alert-fixed" role="alert" ng-if="alertMessage.show">
  <strong>{{alertMessage.text}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ng-click="alertMessage.show = false"></button>
</div>

<div class="row justify-content-center pt-4">
  <div>
    <h4 style="padding-left: 15px;">
      <a href="/admin/">Admin</a>
    </h4>
    <hr />
  </div>
</div>

<div class="row justify-content-center pb-2 ps-3 pe-3 gap-2">
  <a href="/admin/aliases" class="btn btn-primary col-12 col-md-3">
    <i class="fa fa-fw fa-address-card fa-3x pull-left"></i> Aliases
    <div class="btn-subtext mt-3">
      <i>Manage capcode aliases</i>
    </div>
  </a>
  <a href="/admin/users" class="btn btn-primary col-12 col-md-3">
    <i class="fa fa-fw fa-user fa-3x pull-left"></i> Users
    <div class="btn-subtext mt-3">
      <i>Manage users</i>
    </div>
  </a>
  <a href="/admin/aliases" class="btn btn-primary col-12 col-md-3 disabled">
    <i class="fa fa-fw fa-inbox fa-3x pull-left"></i> Messages
    <div class="btn-subtext mt-3">
      <i>Manage Messages</i>
    </div>
  </a>
</div>

<div class="row justify-content-center pb-2 ps-3 pe-3 gap-2">
  <a href="/admin/settings" class="btn btn-primary col-12 col-md-3">
    <i class="fa fa-fw fa-cogs fa-3x pull-left"></i> Settings
    <div class="btn-subtext mt-3">
      <i>Configure system settings</i>
    </div>
  </a>
  <a href="/admin/reset" class="btn btn-primary col-12 col-md-3 disabled">
    <i class="fa fa-fw fa-book fa-3x pull-left"></i> Logs
    <div class="btn-subtext mt-3">
      <i>View Log Files</i>
    </div>
  </a>
  <a href="https://github.com/pagermon/pagermon#support" class="btn btn-primary col-12 col-md-3" target="_blank">
    <i class="fa fa-fw fa-life-ring fa-3x pull-left"></i> Help
    <div class="btn-subtext mt-3">
      <i>Documentation and support</i>
    </div>
  </a>
</div>