<!-- FontAwesome Helper Modal -->
<div id="faHelperModal" class="modal modal-lg fade" tabindex="-1" role="dialog" aria-labelledby="faHelperModalLabel">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <span id="faHelperModalLabel" class="modal-title fs-3 text-nowrap me-2">Select Alias Icon</span>
        <div class="input-group">
          <span class="input-group-text me-2">
            <i class="fa fa-filter"></i>
          </span>
          <input id="faSearch" type="text" class="form-control" name="faSearch" placeholder="Filter" ng-model="faSearch">
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-wrap justify-content-center" ng-init="modal.faIconPreview = ''">
        <div ng-repeat="faIcon in faIcons | filter: faSearch"
            class="fa-modal-icon d-inline-flex align-items-center justify-content-center cursor-pointer"
            title="{{faIcon}}" ng-click="alias.icon = faIcon"
            ng-mouseover="modal.faIconPreview = faIcon" ng-mouseleave="modal.faIconPreview = ''"
            data-bs-dismiss="modal">
          <i class="fas fa-{{faIcon}} fs-1"></i>
        </div>
      </div>
      <div class="modal-footer">
		    <span id="faPreview" class="fs-5 pe-3">{{modal.faIconPreview}}</span>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Alias Template Modal -->
<div id="aliasTemplateModal" class="modal modal-lg fade" tabindex="-1" role="dialog" aria-labelledby="aliasTemplateModalLabel">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <span id="aliasTemplateModalLabel" class="modal-title fs-3 text-nowrap me-2">Select Alias Template</span>
        <div class="input-group">
          <span class="input-group-text me-2">
            <i class="fa fa-filter"></i>
          </span>
          <input id="search" type="text" class="form-control" name="search" placeholder="Filter" ng-model="search">
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-sm table-hover table-striped">
          <thead class="thead-default">
            <tr>
              <th>Color</th>
              <th>Icon</th>
              <th>Agency</th>
              <th>Filter</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="template in settings.aliases.templates | filter: search track by $index" 
                ng-click="applyTemplate(template)" class="cursor-pointer" data-bs-dismiss="modal">
              <td class="text-nowrap align-middle" style="background-color: {{template.color || 'transparent'}};">
                <span style="color: {{ template.color ? 'white' : 'black' }};">
                  <strong>{{template.color}}</strong>
                </span>
              </td>
              <td class="text-nowrap align-middle">
                <span ng-if="template.icon" class="fa-stack fa-lg fa-fw" style="color: {{template.color || 'transparent'}};">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-{{template.icon}} fa-stack-1x fa-inverse"></i>
                </span>
                <span class="align-middle">{{template.icon}}</span>
              </td>
              <td class="text-nowrap align-middle">
                <strong>{{template.agency || ''}}</strong>
              </td>
              <td class="text-nowrap text-center align-middle">
                <i ng-if="!template.filter" class="fa fa-circle text-success"></i>
                <i ng-if="template.filter" class="fa fa-exclamation-circle text-danger"></i>
              </td>
              <td class="text-primary align-middle w-100">
                {{template.name}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div ng-if="loading" class="loading">
  <i class="fa fa-spinner fa-spin"></i>
</div>

<div class="alert {{alertMessage.type}} alert-dismissible alert-fixed" role="alert" ng-if="alertMessage.show">
  <strong>{{alertMessage.text}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ng-click="alertMessage.show = false"></button>
</div>

<div class="row justify-content-center pt-4">
  <div>
    <h4 class="ps-3">
      <a href="/admin/">Admin</a> / <a href="/admin/aliases/">Aliases</a> / {{alias.id || 'New'}} {{alias.newMessage}}
    </h4>
    <hr />
  </div>

<div>
  <form ng-submit="aliasSubmit()" class="form-horizontal" name="alias">
    <h5>Alias Details</h5>
    <p>
      Aliases are ordered so that the closest match takes precedence.<br />
      Aliases with a full 7 digit capcode will be used first, followed by those with one wildcard, and so on.<br />
      Those that start with a wildcard will always be ordered last, and thus are only matched with a message if no other alias matches.
    </p>
    <hr />

    <div class="row g-3 justify-content-end align-items-center" ng-class="!alias.address || existingAddress ? 'has-error' : 'has-success'">
      <div class="col-3 col-sm-2">
        <label for="alias.address" class="float-end">Address</label>
      </div>
      <div class="col-9 col-sm-10">
        <input class="form-control" type="text" name="alias.address" ng-model="alias.address" ng-change="checkAddress()" ng-model-options="{updateOn: 'blur'}" required>
      </div>
    </div>
    <div class="row g-3 justify-content-end mb-3">
      <div class="col-9 col-sm-10">
        <i ng-if="aliasLoading" class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i>
        <span ng-if="existingAddress" class="form-text text-danger">Address already exists!</span>
        <div ng-if="aliasLoading" class="btn-group float-end" role="group" aria-label="Replace existing alias?">
          <button type="button" ng-click="newButton(existingID)" class="btn btn-danger">Replace Existing</button>
          <button type="button" ng-click="alias.address = alias.originalAddress; checkAddress()" class="btn btn-danger">
            Reset<span ng-if="alias.originalAddress"> to {{alias.originalAddress}}</span>
          </button>
        </div>
        <div class="form-text">
          Capcode address matches based on SQL wildcards - % means 0 or more of any character, _ means one of any character.<br />
          For example:<br />
          '%200%' will match messages from '0000200', '2009999', or '0002001'<br />
          '0200___' will match '0200123', but not '0020012'.
        </div>
      </div>
    </div>

    <div class="row g-3 justify-content-end align-items-center" ng-class="!alias.agency ? 'has-error' : 'has-success'">
      <div class="col-3 col-sm-2">
        <label for="alias.agency" class="float-end">Agency</label>
      </div>
      <div class="col-9 col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control" name="alias.agency" id="aliasAgency" ng-model="alias.agency" required>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aliasTemplateModal">Templates</button>
        </div>
      </div>
    </div>
    <div class="row g-3 justify-content-end mb-3">
      <div class="col-9 col-sm-10">
        <span class="form-text">Agency or a high level group for aliases.</span>
      </div>
    </div>

    <div class="row g-3 justify-content-end align-items-center">
      <div class="col-3 col-sm-2">
        <label for="alias.icon" class="float-end">Icon</label>
      </div>
      <div class="col-9 col-sm-10">
        <div class="input-group">
          <span class="input-group-text me-2">
            <span class="fa-stack fa-lg fa-fw" style="color: {{alias.color || 'black'}};">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-{{alias.icon || 'question'}} fa-stack-1x fa-inverse"></i>
            </span>
          </span>
          <input type="text" class="form-control" name="alias.icon" ng-model="alias.icon" required>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#faHelperModal">Pick</button>
        </div>
      </div>
    </div>
    <div class="row g-3 justify-content-end mb-3">
      <div class="col-9 col-sm-10">
        <span class="form-text">Fontawesome icon to display with the alias.</span>
      </div>
    </div>

    <div class="row g-3 justify-content-end align-items-center">
      <div class="col-3 col-sm-2">
        <label for="alias.color" class="float-end">Color</label>
      </div>
      <div class="col-9 col-sm-10">
        <color-picker ng-model="alias.color" options="colorOptions"></color-picker>
      </div>
    </div>
    <div class="row g-3 justify-content-end mb-3">
      <div class="col-9 col-sm-10">
        <span class="form-text">HTML color to use for the icon and address. Can be a named color or a # color code.</span>
      </div>
    </div>

    <div class="row g-3 justify-content-end align-items-center" ng-class="!alias.alias ? 'has-error' : 'has-success'">
      <div class="col-3 col-sm-2">
        <label for="alias.alias" class="float-end">Alias</label>
      </div>
      <div class="col-9 col-sm-10">
        <input class="form-control" type="text" name="alias.alias" id="aliasName" ng-model="alias.alias" required>
      </div>
    </div>
    <div class="row g-3 justify-content-end mb-3">
      <div class="col-9 col-sm-10">
        <span class="form-text">Text description of the alias.</span>
      </div>
    </div>

    <div class="row g-3 justify-content-end align-items-center" ng-class="{'has-warning':alias.ignore == 1}">
      <div class="col-3 col-sm-2">
        <label for="alias.ignore" class="float-end">Filter Alias</label>
      </div>
      <div class="col-9 col-sm-10">
        <input type="checkbox" class="form-check-input" name="alias.ignore" id="aliasFilter" ng-model="alias.ignore" ng-true-value="1" ng-false-value="0">
        <label class="form-check-label" for="aliasFilter">
          Ignore messages matching this alias.
        </label>
      </div>
    </div>
    <div class="row g-3 justify-content-end mb-3">
      <div class="col-9 col-sm-10">
        <div class="form-text">New messages that come in matching this alias are not stored in the database, but existing messages will not be deleted.</div>
      </div>
    </div>

    <h5>Plugins</h5>
    <hr />

    <div class="plugin-group mb-3" ng-repeat="plugin in plugins">
      <div ng-if="settings.plugins[plugin.name].enable">
        <div>
          <h6>{{plugin.name}}</h6>
          <p><em ng-bind-html="plugin.description"></em></p>
        </div>

        <div ng-repeat="configItem in plugin.aliasConfig">
          <div class="row g-3 justify-content-end align-items-center" ng-hide="!alias.pluginconf[plugin.name].enable && configItem.name != 'enable'">
            <div class="col-3 col-sm-2">
              <label for="{{plugin.name}}.{{configItem.name}}" class="float-end">{{configItem.label}}</label>
            </div>

            <div class="col-9 col-sm-10">
              <div ng-if="configItem.type == 'checkbox'" class="checkbox">
                <input type="checkbox" class="form-check-input" name="{{plugin.name}}.{{configItem.name}}" id="{{plugin.name}}.{{configItem.name}}" ng-model="alias.pluginconf[plugin.name][configItem.name]">
                <label class="form-check-label" for="{{plugin.name}}.{{configItem.name}}">
                  {{configItem.description}}
                </label>  
              </div>
              <div ng-if="configItem.type == 'select'">
                  <select name="{{plugin.name}}.{{configItem.name}}" ng-model="alias.pluginconf[plugin.name][configItem.name]" class="form-control" ng-options="obj.text for obj in configItem.options track by obj.value" ng-disabled="!alias.pluginconf[plugin.name].enable" ng-required="alias.pluginconf[plugin.name].enable && configItem.required"></select>
                  <span class="form-text">{{configItem.description}}</span>
              </div>
              <div ng-if="configItem.type != 'checkbox' && configItem.type != 'select'">
                <input type="{{configItem.type}}" class="form-control" name="{{plugin.name}}.{{configItem.name}}" ng-model="alias.pluginconf[plugin.name][configItem.name]" ng-disabled="!alias.pluginconf[plugin.name].enable" ng-required="alias.pluginconf[plugin.name].enable && configItem.required">
                <span class="form-text">{{configItem.description}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-group-vertical">
      <button type="button" ng-if="!isNew" ng-click="aliasDelete()" class="btn btn-danger">
        <i class="fa fa-trash"></i>
        <span class="d-none d-sm-inline-block">Delete</span>
      </button>
      <button type="button" ng-click="aliasLoad()" class="btn btn-warning">
        <i class="fa fa-rotate-left"></i>
        <span class="d-none d-sm-inline-block">Reset</span>
      </button>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-save"></i>
        <span class="d-none d-sm-inline-block">Save</span>
      </button>
    </div>
  </form>
</div>
