<div ng-if="loading" class="loading">
  <i class="fa fa-spinner fa-spin"></i>
</div>

<div class="alert {{alertMessage.type}} alert-dismissible alert-fixed" role="alert" ng-if="alertMessage.show">
  <strong>{{alertMessage.text}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ng-click="alertMessage.show = false"></button>
</div>

<div class="row justify-content-center pt-4">
  <div>
    <h4 class="ps-3">
      <a href="/admin/">Admin</a> / Aliases
    </h4>
    <hr />
  </div>

  <div>
    <div class="input-group">
      <span class="input-group-text me-2">
        <i class="fa fa-filter"></i>
      </span>
      <input type="text" class="form-control" name="search" placeholder="Filter" ng-model="search">
    </div>
  </div>
</div>

<div class="row">
  <table class="table table-sm table-hover table-striped">
    <thead class="thead-default">
      <tr>
        <th></th>
        <th class="text-secondary">ID</th>
        <th class="text-secondary">Address</th>
        <th class="text-secondary">Color</th>
        <th class="text-secondary">Icon</th>
        <th class="text-secondary">Agency</th>
        <th class="text-secondary">Filter</th>
        <th class="text-secondary">Alias</th>
        <th class="text-secondary">Show messages</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="alias in aliases | filter: search" ng-click="aliasDetail(alias.id)" class="cursor-pointer">
        <!-- TODO: Add links to filters -->
        <td class="text-nowrap align-middle">
          <input type="checkbox" ng-model="alias.selected" class="form-check-input" ng-click="$event.stopPropagation()" />
        </td>
        <td class="text-primary text-nowrap align-middle">
          <span style="font-family: monospace;">
            <strong>{{alias.id}}</strong>
          </span>
        </td>
        <td class="text-primary text-nowrap align-middle">
          <span style="font-family: monospace;">
            <strong>{{alias.address}}</strong>
          </span>
        </td>
        <td class="text-nowrap align-middle" style="background-color: {{alias.color || 'transparent'}};">
          <span style="color: {{ alias.color ? 'white' : 'black' }};">
            <strong>{{alias.color}}</strong>
          </span>
        </td>
        <td class="text-secondary text-nowrap align-middle">
          <span ng-if="alias.icon" class="fa-stack fa-lg fa-fw" style="color: {{alias.color || 'transparent'}};">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{alias.icon}} fa-stack-1x fa-inverse"></i>
          </span>
          <span class="align-middle">{{alias.icon}}</span>
        </td>
        <td class="text-secondary text-nowrap align-middle">
          <strong>{{alias.agency || ''}}</strong>
        </td>
        <td class="text-nowrap align-middle text-center">
          <i class="fa fa-circle text-success" ng-if="alias.ignore == 0"></i>
          <i class="fa fa-exclamation-circle text-danger" ng-if="alias.ignore == 1"></i>
        </td>
        <td class="text-primary align-middle w-100">
          {{alias.alias || ''}}
        </td>
        <td class="text-nowrap align-middle text-center clickable-td" ng-click="aliasMessages(alias.id); $event.stopPropagation();">
          <i class="fa fa-filter"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="btn-group-vertical">
  <button ng-if="aliasRefreshRequired == 1" type="button" ng-click="aliasRefresh();" class="btn btn-warning">
    <i class="fa fa-arrows-rotate"></i>
    <span class="d-none d-sm-inline-block">Refresh Aliases</span>
  </button>
  <button type="button" ng-click="aliasImport();" class="btn btn-success">
    <i class="fa fa-file-import"></i>
    <span class="d-none d-sm-inline-block">Import Aliases</span>
  </button>
  <button type="button" ng-click="aliasExport();" class="btn btn-success">
    <i class="fa fa-file-export"></i>
    <span class="d-none d-sm-inline-block">Export Aliases</span>
  </button>
  <button class="btn btn-success " ng-click="aliasDetail('new');" type="button">
    <i class="fa fa-plus"></i>
    <span class="d-none d-sm-inline-block">Add New</span>
  </button>
  <button type="button" ng-disabled="!aliasSelected()" ng-click="aliasDelete()" class="btn btn-danger">
    <i class="fa fa-trash"></i>
    <span class="d-none d-sm-inline-block">Delete Selected</span>
  </button>
</div>