<div ng-if="loading" class="loading">
  <i class="fa fa-spinner fa-spin"></i>
</div>

<div class="alert {{loginMessage.type}} alert-dismissible alert-fixed" role="alert" ng-if="loginMessage.show">
  <strong>{{loginMessage.text}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ng-click="loginMessage.show = false"></button>
</div>

<div class="row justify-content-center pt-4">
  <div>
    <h3 class="ps-3">Login</h3>
    <hr />
  </div>

  <form ng-submit="loginSubmit()" name="login">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="user.username" ng-model="user.username" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="user.password" ng-model="user.password" required>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Login</button>
  </form>
</div>