<div ng-if="loading" class="loading">
  <i class="fa fa-spinner fa-spin"></i>
</div>

<div class="alert {{alertMessage.type}} alert-dismissible alert-fixed" role="alert" ng-if="alertMessage.show">
  <strong>{{alertMessage.text}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ng-click="alertMessage.show = false"></button>
</div>

<div class="row justify-content-center pt-4">
  <div>
    <h3 class="ps-3">Registration</h3>
    <hr />
  </div>

  <form name="user">
    <div class="d-flex justify-content-between">
      <h4 class="my-auto">User Details</h4>
      <button type="submit" class="btn btn-sm btn-success" ng-click="registerSubmit()">
        <i class="fa fa-save"></i> Save
      </button>
    </div>
    <hr />

    <div class="row mb-3">
      <label for="user.username" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="user.username" ng-class="{'is-invalid':!user.username || existingUsername}"
                ng-model="user.username" ng-change="checkUsername()" ng-model-options="{updateOn: 'blur'}" required>
        <span class="form-text">Minimum Length - 6 Characters</span>
        <span class="form-text text-danger" ng-if="existingUsername">Username already exists!</span>
        <i class="fa fa-refresh fa-spin fa-fw" ng-if="userLoading" aria-hidden="true"></i>
      </div>
    </div>

    <div class="row mb-3">
      <label for="user.givenname" class="col-sm-2 col-form-label">Given Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-class="{'is-invalid':!user.givenname}" name="user.givenname" ng-model="user.givenname" required>
        <span class="form-text">Required</span>
      </div>
    </div>

    <div class="row mb-3">
      <label for="user.surname" class="col-sm-2 col-form-label">Surname</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="user.surname" ng-model="user.surname">
      </div>
    </div>

    <div class="row mb-3">
      <label for="user.email" class="col-sm-2 col-form-label">Email Address</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="user.email" ng-class="{'is-invalid':!user.email || existingEmail}"
                ng-model="user.email" ng-change="checkEmail()" ng-model-options="{updateOn: 'blur'}" required>
        <span class="form-text">Required</span>
        <span class="form-text text-danger" ng-if="existingEmail">Email already exists!</span>
        <i class="fa fa-refresh fa-spin fa-fw" ng-if="userLoading" aria-hidden="true"></i>
      </div>
    </div>

    <div class="row mb-3">
      <label for="user.password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="user.password" ng-class="{'is-invalid':!user.password}"
                ng-minlength="6" ng-model="user.password" required>
        <span class="form-text">Password must be at least 6 characters</span>
      </div>
    </div>
  </form>
</div>

