<div ng-if="loading" class="loading">
  <i class="fa fa-spinner fa-spin"></i>
</div>

<div class="alert {{resetMessage.type}} alert-dismissible alert-fixed" role="alert" ng-if="resetMessage.show">
  <strong>{{resetMessage.text}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ng-click="resetMessage.show = false"></button>
</div>

<div class="row justify-content-center pt-4">
  <div>
    <h3 class="ps-3">Reset Password</h3>
    <hr />
  </div>

  <form ng-submit="resetSubmit()" name="form">
    <div class="mb-3">
      <label class="form-label" for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" ng-model="password" autofocus=true required>
    </div>

    <div>
      <label class="form-label" for="confirm_password">Confirm Password</label>
      <input type="password" class="form-control" id="confirm_password" name="confirm_password"
        ng-model="confirm_password" required ui-validate=" '$value==password' " ui-validate-watch=" 'password' ">
    </div>

    <div class="form-text text-danger" ng-show='form.confirm_password.$error.validator'>Passwords do not match!</div>
    <button type="submit" ng-disabled="form.confirm_password.$error.validator" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
